body
{
	background-color: #000000;
	width: 600px;
}

*
{
	color: white;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

a:link
{
	text-decoration-line: none;
}

a:hover
{
	text-decoration-style: dotted;
	text-decoration-line: line-through;
	color: yellow;
}

.italic
{
	font-style: italic;
}

.smallcaps
{
	font-variant: small-caps;
}

div#overlay
{
	position: fixed;
	width:600px;
}

div.menu
{
	width:100%;
}

div.content
{
	padding-top: 34px;
	margin-left: 100px;
	padding-left: 0px;
	padding-right: 0px;
	color: darkgrey;
}

code
{
	font-family: monospace;
}

code#pgpkey
{
	white-space: pre;
	height: 100px;
	overflow-y: scroll;
}
