body
{
	background-color: #000000;
	width: 600px;
}

*
{
	color: #ffffff;
}

.dynhide
{
	display: block;
}
.dynhide:hover
{
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

.dynhide *
{
	visibility: hidden;
	display: none;
	width: 100%;
	margin: 0px;
}

.dynhide:hover *
{
	visibility: visible;
	display: block;
}

.dynhide div.title
{
	visibility: visible;
	 display: block;
}

.dynhide:hover div.title
{
	color: black;
	background-color: white;
}
