table, td, tr
{
font-family: sans-serif;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	border: 2px solid white;
	border-collapse: collapse;
}

p
{
	white-space: pre;
}
ul
{
	list-style-type: none;
}
